*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 1600px;
    height: 6532px;
}
.header {
    font-family: 'Lato', sans-serif;
    width: 1440px;
    height: 92px;
    margin: 32px 0 32px 80px;
}
.conteiner {
    width: 1440px;
    max-width: 100%;
}
.conteiner-flex {
    display: flex;
}
.conteiner-flexspaced {
    justify-content: space-between;
    align-items: center;
}
.h-title {
    font-size: 20px;
    font-family:'Lato', sans-serif;
    line-height: 28px;
}
.header li {
    display: inline-block;
}
.h-listitem a {
    text-decoration: none;
    color: #1F1F1F;
    padding: 12px;
    margin: 0 12px;
}
.h-car {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 24px;
}
.h-search {
    appearance: none;
    -webkit-appearance: none;
    background-color: #F2F2F2;
    background-image: url('../img/Search.png');
    background-repeat: no-repeat;
    background-position: 11px 15px;
    background-size: 25px;
    border-radius: 50px;
    border: 0;
    min-width: 232px;
    padding: 18px 20px 18px 40px;
    font-size: 16px;
}
main {
    font-size: 20px;
    width: 1440px;
}
aside {
    height: 600px;
    margin: 140px 0px 140px;
}
.m-aside {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 0px 40px; */
    margin: 200px 80px 0 80px;
    background: #F3F3F3;
    width: 1440px;
    height: 767px;
}
.aside-ul {
    width: 188px;
    height: 32px;
    justify-content: space-between;
}
.m-section {
    width: 1440px;
    height: 581px;
}
.m-img {
    width: 800px;
}
.aside2 {
    width: 1600px;
    height: 720px;
    margin-top: 200px;
}   
.pstyle {
    width: 475px;
    height: 84px;
    margin: 0 65px 108px 80px
}
.pstyle2 {
    width: 581px;
    height: 112px;
    margin-top: 24px;
}
aside li {
    display: inline-flex;
}
.a-li {
    width: 32px;
    height: 32px;
}
.m-section2 {
    width: 1440px;
    height: 600px;
    margin: 200px 80px 0 80px;
}
.h2-section2 {
    width: 581px;
    height: 64px;
    margin: 40px 155px 0 0;
    color: #9F9F9F;
    font-size: 64px;
    line-height: 64px;
}
.p-section2 {
    width: 581px;
    height: 112px;
    margin: 56px 155px 0 0;
}
.m-section3 {
    width: 1440px;
    height: 600px;
    margin: 200px 80px 0 80px;
}
.imghylo {
    margin-left: 155px;
}
.img-sec {
    margin-right: 8px;
}
.img-sec2 {
    margin-right: 155px;
}
.m-section4 {
    width: 1440px;
    height: 838px;
    margin: 200px 0 140px 80px;
}
.div-section6 {
    width: 827px;
    height: 838px;
}
.div2-section6 {
    width: 613px;
    height: 838px;
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
}
.h3-section6 {
    width: 485px;
    height: 48px;
    margin: 40px 80px 40px 48px;
    font-size: 40px;
}
.m-div {
    margin-top: 100px;
}   
.section4 {
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
}
h4 {
    font-size: 104px;
    color: #FFFFFF;
    margin: 0;
}
.img-middle {
    width: 464px;
    height: 255.69px;
}
.li a {
    text-decoration: none;
    color: #080808;
}
.image {
    background-image: url("../img/arrow.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.end-title {
    width: 300.8px;
    height: 28px;
    margin: 24px 0 16px 650px;
}
.sociais {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
}
.s-label {
    margin-left: 48px;
}
footer {
    background: #F3F3F3;
    width: 1600px;
    height: 374px;
}
.but {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    height: 71px;
    width: 270px;
    margin: 0 204px 62px 80px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.but2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    height: 71px;
    width: 270px;
}
.but3 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    height: 84px;
    width: 517px;
    margin: 32px 48px 48px 48px;
}
.h2-section {
    color: #9F9F9F;
    width: 581px;
    height: 208px;
    font-size: 104px;
    line-height: 104px;
    margin: 11px 0 24px 80px;
}
.h2-color2 {
    color: #9F9F9F;
    width: 581px;
    height: 128px;
    font-size: 64px;
    line-height: 64px;
    margin-top: 8px;
}
.fdiv {
    display: inline-flex;
}
.h3-div {
    width: 336px;
    height: 28px;
    margin-bottom: 18px;
}
.h3-div2 {
    width: 64px;
    height: 28px;
    margin-bottom: 18px;
}
.h3-div3 {
    width: 336px;
    height: 28px;
    margin-bottom: 23px;
}
.li-div {
    line-height: 25px;
}   
.s-search {
    -webkit-appearance: none;
    background-size: 25px;
    min-width: 232px;
    padding: 18px 20px 18px 40px;
    font-size: 16px;
    width: 517px;
    height: 76px;
    border-radius: 12px;
    border: 0;
    margin: 0 48px 24px 48px;
} 
.s-search2 {
    -webkit-appearance: none;
    background-size: 25px;
    min-width: 232px;
    padding: 18px 20px 18px 40px;
    font-size: 16px;
    width: 517px;
    height: 260px;
    border-radius: 12px;
    border: 0;
    margin: 0 48px 24px 48px;
}
.h3-footer {
    width: 67px;
    height: 28px;
    margin: 56px 0 222px 80px;
} 
.div-footer {
    width: 336px;
    height: 194px;
    margin: 56px 0 56px 221px;
}
.div-footer2 {
    width: 336px;
    height: 194px;
    margin: 56px 0 56px 72px;
}
.div-footer3 {
    width: 336px;
    height: 88px;
    margin: 56px 80px 162px 72px;
}



